main .saudeprotecao-container{
    position: relative;
}

main .saudeprotecao-container .saudeprotecao{
    position: relative;
}

main .saudeprotecao-container a.button.secondary {
    border: unset;
    white-space: unset;
    font-size: 22px;
    line-height: 32px;
    font-weight: 300px;
    font-family: Roboto, sans-serif;
    text-align: start;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

main .saudeprotecao-container .saudeprotecao-container-title h2{
    font-size: 180px;
    font-family: 'Strawberry Blossom', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #1d2775;
    margin: 0;
    position: absolute;
    left: 90px;
    top: -80px;
}

main .saudeprotecao-container .saudeprotecao-container-title h2:nth-child(2){
    left: 415px;
    top: -5px;
}

main .saudeprotecao-container .saudeprotecao-container-first {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 95px;
    position: relative;
}

main .saudeprotecao-container .saudeprotecao-container-first p{
    margin: 10px 0 0;
}

main .saudeprotecao-container .saudeprotecao-container-first > div{
    width: 25%;
    padding: 16px;
}

main .saudeprotecao-container .saudeprotecao-container-first > div:last-of-type{
    width: 58%;
    padding: 0 0 2px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 82%;
    z-index: -1;
}

main .saudeprotecao-container .saudeprotecao-container-first > div:last-of-type img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .saudeprotecao-container .saudeprotecao-container-first > div:first-of-type{
    padding-left: 0;
}

main .saudeprotecao-container .saudeprotecao-container-first >div:nth-child(2){
    margin-top: 207px;
    background-color: white;
}

main .saudeprotecao-container .saudeprotecao-container-first > div:first-of-type img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

main .saudeprotecao-container .saudeprotecao-container-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .saudeprotecao-container .saudeprotecao-container-second > div:nth-child(2),
main .saudeprotecao-container .saudeprotecao-container-second > div:nth-child(4){
    width: 35%;
    height: auto;
}

main .saudeprotecao-container .saudeprotecao-container-second > div:nth-child(1),
main .saudeprotecao-container .saudeprotecao-container-second > div:nth-child(3){
    width: 11%;
    height: auto;
}

main .saudeprotecao-container .saudeprotecao-container-second img{
    width: 135px;
    height: 85px;
}