main .postonlytext-container {
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

main .postonlytext-container * {
  box-sizing: border-box;
}

main .postonlytext-container > div {
  max-width: unset;
}

main .postonlytext-container .postonlytext-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .postonlytext-container .postonlytext {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
}

main .postonlytext-container p {  
  text-align: justify;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: "optimizeLegibility";
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  font-size: 13px;
  font-weight: 400;
}

main .postonlytext-container .postonlytext > div {
  width: 24%;
  height: auto;
  padding: 16px;
}

main .postonlytext-container .postonlytext > div:nth-child(2) {
  width: 48%
}

main .postonlytext-container .postonlytext > div:first-of-type {
  padding-left: 0;
}

main .postonlytext-container .postonlytext > div:last-of-type {
  padding-left: 0;
}

main .postonlytext-container .postonlytext .post-container-first-column a {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: "optimizeLegibility";
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  background-color: unset;
  border-radius: unset;
  display: flex;
  text-align: start;
  color: black;
  padding: 0;
  margin-top: 0;
  white-space: unset;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}